{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid fluid-padding">
        <div class="row justify-content-center">
            <div class="col-md-8 content-block">
                <div class="row justify-content-center">
                    <h1>À Propos</h1>
                </div>
                <hr>
                <div class="row">
                    <h3 class="col-md-12">L'auteur</h3>
                </div>
                <div class="row">
                    <p class="col-md-8">
                        Tu peux trouver tout plein d'informations 'techniques' sur moi en suivant
                        <a href="{{ path('author') }}">ce lien</a>. <br>
                        N'hésite pas à m'envoyer un mail à l'adresse ci-dessous si tu as la moindre
                        question: <br>
                        <br>
                        <b>kevinh2rblog@gmail.com</b>
                    </p>
                    <div class="col-md-4 align-self-center">
                        <img src="{{ asset('img/karamazov.jpg') }}" class="img-fluid" alt="karamazov">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <h3 class="col-md-12">Ce blog</h3>
                </div>
                <div class="row">
                    <h5 class="col-md-12 h5">Quoi ?</h5>
                </div>
                <div class="row">
                    <p class="col-md-12">
                        Sur ce blog j'écrirais sur tout mais surtout sur rien. Je n'ai pas vocation
                        à me concentrer sur un sujet particulier, c'est pourquoi j'écrirais sur
                        ce qui me vient en tête et qui me semble un minimum intéressant.
                    </p>
                </div>
                <div class="row">
                    <h5 class="col-md-12 h5">Pourquoi ?</h5>
                </div>
                <div class="row">
                    <p class="col-md-12">
                        La principale motivation derrière ce blog et de m'entraîner à utiliser
                        le framework Symfony.<br>
                        L'écriture de ticket de blog est également un exercice auquel je voulais
                        m'intéresser, j'ai donc ainsi pu lier ces deux points en un.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}