{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid fluid-padding">
        <div class="row justify-content-center">
            <div class="col-md-8 content-block">
                <div class="row justify-content-center">
                    <h1>À Propos</h1>
                </div>
                <hr>
                <div class="row">
                    <h3 class="col-md-12">L'auteur</h3>
                </div>
                <div class="row">
                    <p class="col-md-8">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis velit dui,
                        iaculis eget aliquam eget, pretium et nunc. Suspendisse lacinia velit risus,
                        in sagittis magna interdum eu. Phasellus volutpat lorem pellentesque convallis scelerisque.
                        Donec scelerisque lorem tincidunt tempor lobortis. Aliquam massa quam, rutrum nec quam a,
                        euismod euismod urna. Etiam imperdiet tincidunt sapien. Nullam pharetra tortor erat,
                        vitae pellentesque sem imperdiet ut. Nam placerat turpis elit, sed sagittis sem
                        pellentesque at. Suspendisse enim felis, porta placerat pretium eu, mattis non sapien.
                        Ut placerat leo eu lorem ultricies pharetra. Sed pretium faucibus ex quis feugiat.
                        Nullam convallis enim nisl, sodales scelerisque massa facilisis viverra.
                        Curabitur mollis dui id lorem egestas dignissim. Maecenas tempus vestibulum
                        elit at ullamcorper. Aliquam erat volutpat. Curabitur sed ante eu orci tincidunt porta.
                    </p>
                    <div class="col-md-4 align-self-center">
                        <img src="{{ asset('img/karamazov.jpg') }}" class="img-fluid" alt="karamazov">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <h3 class="col-md-12">Ce blog</h3>
                </div>
                <div class="row">
                    <p class="col-md-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis velit dui,
                        iaculis eget aliquam eget, pretium et nunc. Suspendisse lacinia velit risus,
                        in sagittis magna interdum eu. Phasellus volutpat lorem pellentesque convallis scelerisque.
                        Donec scelerisque lorem tincidunt tempor lobortis. Aliquam massa quam, rutrum nec quam a,
                        euismod euismod urna. Etiam imperdiet tincidunt sapien. Nullam pharetra tortor erat,
                        vitae pellentesque sem imperdiet ut. Nam placerat turpis elit, sed sagittis sem
                        pellentesque at. Suspendisse enim felis, porta placerat pretium eu, mattis non sapien.
                        Ut placerat leo eu lorem ultricies pharetra. Sed pretium faucibus ex quis feugiat.
                        Nullam convallis enim nisl, sodales scelerisque massa facilisis viverra.
                        Curabitur mollis dui id lorem egestas dignissim. Maecenas tempus vestibulum
                        elit at ullamcorper. Aliquam erat volutpat. Curabitur sed ante eu orci tincidunt porta.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}