{% extends 'base.html.twig' %}

{% block body %}
    <div id="root">
        {% for post in posts %}
            <a href="{{ url('post_detail', {'id' : post.id}) }}">
                {{ post.date | date('d-m-Y') }}
                <h3>{{ post.title }}</h3>
                {{ post.content | raw }}
            </a>
        {% endfor %}
{% endblock %}
{% block javascripts %}
{% endblock %}