{% extends 'base.html.twig' %}


{% block body %}
    <div class="container mt-3 pl-xl-5 pr-xl-5 pt-1">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}