.hidden {
    display: none;
}

.vertical-align {
    min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.container-login {
    width: 40%;
}

.btn-login {
    background-color: #3b71a0;
    color: #F9F9F9;
}

.btn-login:hover {
    background-color: #4c91cd;
}

.btn-outline-login {
    color: #F9F9F9;
    background-color: #d05549;
}

.btn-outline-login:hover {
    background-color: #e68379;
    color: #F9F9F9;
}

body {
    background-color: #465d4c;
}

.container {
    background-color: #F9F9F9;
}

.date-style {
    font-style: italic;
    color: #96A996;
}

.loader-background {
    width: 100%;
    height: 100%;
    background: rgba(44,44,44, 0.85);
    position: fixed;
    top: 0;
    left: 0;
}

.cssload-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border: 4px solid rgb(0,0,0);
    animation: cssload-loader 2.3s infinite ease;
    -o-animation: cssload-loader 2.3s infinite ease;
    -ms-animation: cssload-loader 2.3s infinite ease;
    -webkit-animation: cssload-loader 2.3s infinite ease;
    -moz-animation: cssload-loader 2.3s infinite ease;
}

.cssload-loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: rgb(0,0,0);
    animation: cssload-loader-inner 2.3s infinite ease-in;
    -o-animation: cssload-loader-inner 2.3s infinite ease-in;
    -ms-animation: cssload-loader-inner 2.3s infinite ease-in;
    -webkit-animation: cssload-loader-inner 2.3s infinite ease-in;
    -moz-animation: cssload-loader-inner 2.3s infinite ease-in;
}





@keyframes cssload-loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes cssload-loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

@-o-keyframes cssload-loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

@-ms-keyframes cssload-loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

@-webkit-keyframes cssload-loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

@-moz-keyframes cssload-loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}